html
  head
    title .
    link(rel="apple-touch-icon" href="#{imageurl}")

  body
    script.
      if (document.referrer == ""){
       location.href ="#{url}";
      }
    p Last Step.
    p Add this page to homescreen.