doctype 5
html
  head
    title Add2home

    meta(name="viewport" content="width=500px")
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/dropzone/downloads/css/dropzone.css')

    script(src='/jquery/jquery.min.js')
    script(src='/dropzone/downloads/dropzone.js')
    block script
  body
    block content